<style type="text/css">
	.card-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
	}
</style>
<div class="card-container flexbox-parent">
	<md-content layout="row" layout-align="center center" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form" style="min-height: 600px">
	  <md-card flex="flex" style="min-width: 400px;">
		<md-toolbar>
	  	<md-card-header layout-align="center center">
	  		<md-card-avatar><img ng-src="{{image}}" style="height: 100%;width: 100%"></md-card-avatar>
	  	</md-card-header>
		  <div class="md-toolbar-tools">
			<h2><span>Login Form</span></h2>
		  </div>
		</md-toolbar>
		<md-card-content>
		  <form name="Form" ng-submit="login()">
			<md-input-container class="md-block">
			  <label>Webmail</label>
			  <input type="text" name="email" ng-model="loginForm.username" placeholder="webmail" required=""/>
			  <div ng-messages="Form.email.$error" role="alert" multiple="">
				<div ng-message="required" class="my-message">Please enter your email.</div>
			  </div>
			</md-input-container>
			<md-input-container class="md-block">
			  <label>Password</label>
			  <input type="password" name="password" ng-model="loginForm.password" placeholder="password" required=""/>
			  <div ng-messages="Form.password.$error" role="alert" multiple="">
				<div ng-message="required" class="my-message">Please enter your password.</div>
			  </div>
			</md-input-container>
			<md-input-container class="md-block">
	          <label>Server</label>
	          <md-select name="server" ng-model="loginForm.mailServer" required="">
	            <md-option value="dikrong">Dikrong</md-option>
	            <md-option value="disang">Disang</md-option>
	            <md-option value="naambor">Naambor</md-option>
	            <md-option value="tamdil">Tamdil</md-option>
	            <md-option value="teesta">Teesta</md-option>
	          </md-select>
	        </md-input-container>
			<md-button type="submit" class="md-raised md-primary">&nbsp; Login &nbsp;</md-button>
		  </form>
		</md-card-content>
	  </md-card>
	</md-content>
</div>