<div ng-show="error">{{errorMessage}}</div>
<form ng-submit="register()">
			<p>
				<h1>SignUp</h1>
			</p>
			<p>
				<strong>First Name:</strong></br>
				<input type="text" name="firstname" ng-model="registerForm.firstname" required>
			</p>
			<p>
				<strong>Last Name:</strong></br>
				<input type="text" name="lastname" ng-model="registerForm.lastname" required>
			</p>
			<p>
				<strong>Webmail:</strong></br>
				<input type="text" name="webmail" ng-model="registerForm.webmail" required>
			</p>
			<p>
				<strong>Re-enter Webmail:</strong></br>
				<input type="text" name="re-webmail" required>
			</p>
			<p>
				<strong>New Password:</strong></br>
				<input type="password" name="password" ng-model="registerForm.password" required>
			</p>
			<p>
				<strong>Re-enter New Password:</strong></br>
				<input type="password" name="re-password" required>
			</p>	
			<p>
				<input type="radio" name="gender" value="male" ng-model="registerForm.gender" required>Male
				<input type="radio" name="gender" value="female" ng-model="registerForm.gender" required>Female
			</p>
			<button type="submit">Sign Up</button>
</form>