<style type="text/css">
  .talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: lightyellow;
    padding: 3px;
  }
  /* Right triangle placed top left flush. */
  .tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
  }
  .tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: lightyellow transparent transparent transparent;
  }
</style>

<div class="col-md-8 custom">
  <div class="panel panel-info" style="margin:0; height: 100%;">
    <div class="panel-body panel-height" ng-nicescroll nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()" style="overflow-y: scroll; height:90%">
      <ul class="media-list">
        <li ng-repeat="msg in getMessages()" class="media">
          <div class="media-body" style="padding-left: 30px">
            <div class="row">
              <a ng-click="viewProfile(msg.meta.sender.username)">{{msg.meta.sender.username}}</a> : 
              {{msg.meta.sent_time | date:"h:mm a"}}
            </div>
            <div ng-bind-html="msg.text"></div>         
          </div>
        </li>
        <li ng-repeat="(key,user) in getIsTyping()" class="media">
          <div class="media-body" style="padding-left: 30px">
            <div class="row">
              {{user.username}} is typing...
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="panel-footer">
      <div class="input-group">
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" ngf-select="upload($file)">
          <span class="glyphicon glyphicon-file"></span>
        </button>
        </span>  
        <input ng-model="m" type="text" class="form-control" placeholder="Enter Message" ng-keydown="checkText($event)" autofocus>
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" ng-click="sendMsg(m)">Send</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="custom" style="float: left; position: relative;">
  <div class="panel panel-primary" style="margin:0;height: 100%;">
    <div class="panel-heading" style="text-align: center;"><span style="font-size: 20px">Users</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success" ng-click="addPeople()">Add</button></div>
    <div class="panel-body panel-height" style="overflow-y: scroll; height: 90%">
      <ul class="media-list">
        <li ng-repeat="p in getMembers()">{{p.user.username}}</li>
      </ul>
    </div>
  </div>
</div>
<script type="text/ng-template" id="customTemplate.html">
<a>
  <img ng-src="https://localhost:4000/public/{{match.model.profilePic}}" width="32">&nbsp;&nbsp;
  {{match.model.name.firstname + ' ' + match.model.name.lastname}}
</a>  
</script>
<script type="text/ng-template" id="addPeopleModal.html">
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Add People</h3>
  </div>
  <div class="modal-body" id="modal-body">
    Search for people: &nbsp;
      <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Friends" ng-model="searchResult" uib-typeahead="user.username for user in searchFriends($viewValue)"
        typeahead-on-select="onSearchSelect($item)" typeahead-template-url="customTemplate.html">
      </div>
    <ul>
      <li ng-repeat="(id,p) in persons">{{p.username}}</li>
    </ul>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>