<style type="text/css">
	.chat-content {
		display: flex;
		flex-direction: column;
		flex: 4;
	}
	.friends-sidebar {
		background-color: cyan;
		display: flex;
		flex-direction: column;
		flex: 1;
	}
</style>
<!-- For private.html -->
<div class="friends-sidebar w3-red w3-border-right w3-border-left w3-border-black">
	<div class="w3-display">
		<h2><center>Friends</center></h2>
	</div>
	<div style="overflow-y: auto;">
	<a ng-repeat="(key, friend) in getFriends()" ng-click="goToChat(key)">
		<div class="w3-display-container w3-white w3-hover-black w3-border-top w3-border-black" style="height: 70px;">
			<div class="w3-display-middle"><img ng-style="avatar_style" ng-src="https://localhost:4000/public/{{friend.pic}}" style="width:32px; margin:5px">{{friend.name}}</div>
		</div>
	</a>
	</div>
</div>
<div class="chat-content" ui-view> <!-- ui-view -->
</div> 