<div class="container">
  <h2 class="text-center">{{ calendarTitle }}</h2>
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="btn-group">
        <button class="btn btn-primary" mwl-date-modifier date="viewDate" decrement="calendarView" ng-click="cellIsOpen = false">Previous</button>
        <button class="btn btn-default" mwl-date-modifier date="viewDate" set-to-today ng-click="cellIsOpen = false">Today</button>
        <button class="btn btn-primary" mwl-date-modifier date="viewDate" increment="calendarView" ng-click="cellIsOpen = false">Next</button>
      </div>
    </div>
    <br class="visible-xs visible-sm">
    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'" ng-click="cellIsOpen = false">Year</label>
        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'" ng-click="cellIsOpen = false">Month</label>
        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'" ng-click="cellIsOpen = false">Week</label>
        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'" ng-click="cellIsOpen = false">Day</label>
      </div>
    </div>
  </div>
  <br>
  <mwl-calendar events="events" view="calendarView" view-title="calendarTitle" view-date="viewDate" on-event-click="" on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd" cell-is-open="cellIsOpen" day-view-start="00:00" day-view-end="24:00" day-view-split="30" cell-modifier="modifyCell(calendarCell)" cell-auto-open-disabled="true" on-timespan-click="timespanClicked(calendarDate, calendarCell)"></mwl-calendar>
  <br><br><br>
  <form class="form-horizontal">
    <fieldset>
      <legend>Add New Event</legend>
    <div class="form-group">
      <!-- title -->
      <label class="control-label col-sm-2" for="title">Title:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="title" required="true" placeholder="New Event Title" ng-model="newTitle">
      </div>
      <!-- venue -->
      <label class="control-label col-sm-2" for="venue">Venue:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="venue" placeholder="Event venue" ng-model="newVenue">
      </div>
    </div>
    <!-- start date and end date -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="startdate">Starts:</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="startdate" placeholder="Starting Time" ng-model="newStartsAt">
      </div>
      <label class="control-label col-sm-2" for="enddate">Ends:</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="enddate" placeholder="Ending Time" ng-model="newEndsAt">
      </div>
    </div>
    <!-- colour -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="primarycolor">Primary Colour:</label>
      <div class="col-sm-4">
        <input class="form-control" id="primarycolor" colorpicker type="color" ng-model="newColorPrimary">
      </div>
      <label class="control-label col-sm-2" for="secondarycolor">Secondary Colour:</label>
      <div class="col-sm-4">
        <input class="form-control" id="secondarycolor" colorpicker type="color" ng-model="newColorSecondary">
      </div>
    </div>
    <!-- Description -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="description" placeholder="Description" ng-model="newDescription">
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary button-lg pull-right" ng-click="addEvent()">Add</button>
    </div>
  </fieldset>
  </form>
  <h3 id="event-editor">
    Edit events
  </h3><div class="clearfix"></div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Venue</th>
        <th>Color</th>
        <th>Starting Time</th>
        <th>Ending Time</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in events track by $index">
        <td>
          <input type="text" class="form-control" ng-model="event.title" placeholder="Event Title">
        </td>
        <td>
          <input type="text" class="form-control" ng-model="event.venue" placeholder="Venue">
        </td>
        <td>
          <label>Primary</label><input class="form-control" colorpicker type="color" ng-model="event.color.primary">
          <br>
          <label>Secondary</label><input class="form-control" colorpicker type="color" ng-model="event.color.secondary">
        </td>
        <td>
          <p class="input-group" style="width: 100%;max-width: 250px">
            <input type="text" class="form-control" uib-datepicker-popup="dd MMMM yyyy" ng-model="event.startsAt" readonly is-open="event.startOpen" close-text="Close" >
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="toggle($event, 'startOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div uib-timepicker ng-model="event.startsAt" hour-step="1" minute-step="15" show-meridian="true"></div>
        </td>
        <td>
          <p class="input-group" style="width: 100%;max-width: 250px">
            <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.endsAt" is-open="event.endOpen" close-text="Close">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="toggle($event, 'endOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div uib-timepicker ng-model="event.endsAt" hour-step="1" minute-step="15" show-meridian="true">
          </div>
        </td>
        <td>
          <input type="text" class="form-control" ng-model="event.description" placeholder="Description">
        </td>
        <td>
          <button class="btn btn-info" ng-click="eventUpdate(event)">Update</button>
          <br><br>
          <button style="width: 100%;" class="btn btn-danger" ng-click="eventDelete(event._id, $index)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>